body{
    margin: 0;
  
}
body, html{
    
    height: 100vh;
    font-family: 'Atma', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-shadow:
    0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black;
       
}

html{
    background: url(main-foto2.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-color: black;
}
   
.top-menu{
    background-color: rgba(58, 53, 45, 0.894);
    overflow: hidden; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    text-shadow: white 0 0 10px;
           
}
.top-menu a{
    float:left;
    display:block;
    color: rgb(228, 214, 214);
    padding: 2.5vw 5vw;
    text-align: center;
    font-size: 17px;    
    text-decoration: none;
     
}
.top-menu a:hover{
    background: rgb(116, 112, 112);
    color:black;
    transition: all 0.3s ease;
  
}
.active{
    background-color: rgb(51, 54, 54);
    color:white;
}
.top-menu .icon{
    display: none;
}
.name{
    position: relative;       
    margin-top: 25vh;
    font-size: 8vw;
    white-space: nowrap;
    left:15vw;
    color: wheat;
    
          
}
.band{
    margin-top: -1em;
    position: relative;
    font-size: 8vw;
    left:22vw;
    color: wheat;
}

.band-logo img{
    margin: auto;
    width: 25%;
    position: relative;
    white-space: nowrap;
    top:-30vw;
    bottom:32vw;
    left:55vw;
    border: 1px black solid;
}
.main-text{
    
    margin-top:2vw;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 20px;
    background-color: hsla(0, 0%, 0%, 0.20);
    
}

.main-site-image-text{
    margin-top:6vw;
    padding:9vh;    
    color: whitesmoke;
    position: relative;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.20);
}

@media (max-width:600px){
    
    .center{
        display:block;
        margin-left:auto;
        margin-right: auto;
        width:55vh;
           
    }
}
@media (min-width:600px){
   
    .main-site-pictures img{        
       
        width: 55vh;        
        position: relative;
        z-index: 1;
        
        
        
        }
    .first-image{
        float: left;
        padding-left:4vh; 
        vertical-align: middle; 
       
        display:inline-block;
          

    }
    .third-image{
        float: left;
        padding-left:4vh;

    }
    .second-image{
        float:right;
        padding-right:4vh;
    }
    .first-image-and-text{
      float:left;
      padding-top: 30vh;
     
    }

    .second-image-and-text{
        padding-top: 30vh;
        float: left;
    }
    .third-image-and-text{
        display:inline-block;
        padding-top: 30vh;
    }
    
}


.footer-sign{
    text-align: center;
    padding-top: 30vw;
    padding-bottom: 2vw;
    font-size:25px;
}



@media screen and (max-width:600px){
    .top-menu a:not(:first-child) {display: none;}
    .top-menu a.icon {
        float:right;
        display: block;
     
    }
}
@media screen and (max-width:600px){
    .top-menu.responsive {position:fixed;}
    .top-menu.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-menu.responsive a{
        float: none;
        display: block;
        text-align: center;
               
    }
}